<nav class="navbar navbar-dark bg-charcoal">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">DeliverEat!</a>
    <button class="btn btn-green" routerLink="/cart">
      <i class="bi bi-cart2"></i> Shopping Cart
    </button>
  </div>
</nav>
